
<div ng-controller="BlogController as blogctrl">

	<!-- Create Blog -->
	<div class="container">
		<div class="well">
			<div class="h2 text-center">Create Blog</div>
			<br />
			<form name="insertblog" class="form-horizontal" ng-submit="reloadRoute()">
				<div class="form-group">
					<label class="control-label col-sm-4" for="blogname">Blog Name:</label>
					<div class="col-sm-6">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span> <input type="text" class="form-control" name="blogname" id="blogname" placeholder="Enter blogname" pattern=".{5,40}" title="Blogname must have 5 to 40 characters" ng-model="blog.blogname"
								required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="blogcontent">Blog Content:</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="5" id="blogcontent" placeholder="Enter blogcontent" pattern=".{5,255}" title="BlogContent must have 5 to 255 characters" ng-model="blog.blogcontent" required></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" ng-click="saveBlogPost()" class="btn btn-warning">
							<i class="fa fa-sign-in" aria-hidden="true"></i> Create Blog
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- List Blog -->
	<div class="h2 text-center">List Blogs</div>
	<table class="table">
		<tr>
			<td>Blog Id</td>
			<td>User Id</td>
			<td>Likes</td>
			<td>Blog Name</td>
			<td>Blog Content</td>
			<td>Status</td>
			<td>Create Date</td>
		</tr>
		<tr ng-repeat="blog in blogs | orderBy : 'blogid'">
			<td>{{blog.blogId}}</td>
			<td>{{blog.userId}}</td>
			<td>{{blog.likes}}</td>
			<td>{{blog.blogName}}</td>
			<td>{{blog.blogContent}}</td>
			<td>{{blog.status}}</td>
			<td>{{blog.createDate | date : "fullDate"}}</td>
		</tr>
	</table>

</div>

