<div ng-controller="UserController as userctrl">
	<div class="well">
		<h2 class="text-center">Login</h2>
		<br />

		<form class="form-inline" ng-submit="userctrl.validate(userctrl.user)">
			<div class="form-group">
				<label class="sr-only" for="userid">User Id:</label> 
				<input type="text" class="form-control" id="userid" ng-model="userctrl.user.userId">
			</div>
			<div class="form-group">
				<label class="sr-only" for="pwd">Password:</label> 
				<input type="password" class="form-control" id="pwd" ng-model="userctrl.user.password">
			</div>
			{{userctrl.message}}
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>