<div ng-controller="UserController">
	<div class="well">
		<h2 class="text-center">Register</h2>
		<br />
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-offset-2 col-sm-2" for="fName">First Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="fName" placeholder="Enter First Name" name="fName" pattern=".{2,40}" title="First must have 2 to 40 characters" ng-model="userTable.firstname" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-offset-2 col-sm-2" for="lName">Last Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="lName" placeholder="Enter Last Name" name="lName" pattern=".{2,40}" title="Last must have 2 to 40 characters" ng-model="userTable.lastname" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-offset-2 col-sm-2" for="uEmail"> Email:</label>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="uEmail" placeholder="Enter Email" name="uEmail" ng-model="userTable.email" required>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-offset-2 col-sm-2" for="uPassword">Password:</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="uPassword" placeholder="Enter Password" name="uPassword" pattern=".{5,15}" title="password must have 5 to 15 characters" ng-model="userTable.password" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<button type="submit" class="btn btn-warning" ng-click="insertUser()">
						<i class="fa fa-user-plus" aria-hidden="true"></i> Register
					</button>
				</div>
			</div>
		</form>
		<!-- {{"Hello "+userTable.firstname}} {{userTable.lastname}} -->
	</div>
</div>