<div ng-controller="ForumController">
	<!-- Create Forum -->
	<div class="container">
		<div class="well">
			<div class="h2 text-center">Create Forum</div>
			<br />
			<form name="insertforum" class="form-horizontal" action="#" method="post">
				<div class="form-group">
					<label class="control-label col-sm-offset-2 col-sm-2" for="forumname">Forum Name:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="forumname" id="forumname" placeholder="Enter forumname" pattern=".{5,40}" title="Forumname must have 5 to 40 characters" ng-model="forum.forumname" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-offset-2 col-sm-2" for="forumcontent">Forum Content:</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="5" id="forumcontent" placeholder="Enter forumcontent" pattern=".{5,255}" title="ForumContent must have 5 to 255 characters" ng-model="forum.forumcontent" required></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" ng-click="saveForumPost()" class="btn btn-warning">
							<i class="fa fa-sign-in" aria-hidden="true"></i> Create Forum
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- List Forum -->
	<div class="container">
		<div class="h2 text-center">List Forums</div>
		<table class="table">
			<tr>
				<td>Forum Id</td>
				<td>User Id</td>
				<td>Forum Name</td>
				<td>Forum Content</td>
				<td>Create Date</td>
			</tr>
			<tr ng-repeat="forum in forumdata">
				<td>{{forum.forumid}}</td>
				<td>{{forum.userid}}</td>
				<td>{{forum.forumname}}</td>
				<td>{{forum.forumcontent}}</td>
				<td>{{forum.createdate | date : "fullDate"}}</td>
			</tr>
		</table>
	</div>
</div>